<header>
  <nav>
    <a routerLink="/home"><i class="fas fa-home"></i> Inicio</a>
    <a routerLink="/home-ova"><i class="fas fa-book"></i> Ovas</a>
    <a routerLink="/facultad"><i class="fas fa-building"></i> Facultades</a>
    <a routerLink="/curso"><i class="fas fa-info-circle"></i> Cursos</a>
    <a routerLink="/informacion"><i class="fas fa-info-circle"></i> Información</a>
    <a routerLink="/facultad"><i class="fas fa-university"></i> Facultad</a>
    <a routerLink="/usuario"><i class="fas fa-user"></i> Usuario</a>
    <a routerLink="/programas"><i class="fas fa-user"></i> Programas</a>

  </nav>
</header>
