<div class="container-fluid login-page d-flex align-items-center vh-100 padding 0">
  <div class="login-box text-white p-4 rounded">
    <h1 class="mb-3 ">App Name</h1>
    <h5 class="mb-2 ">Create an account</h5>
    <p class="mb-3 ">Enter your email to sign up for this app</p>

    <div class="mb-3 w-100">
      <input type="email" class="form-control " placeholder="email@domain.com">
    </div>

    <button (click)="home()" class="btn btn-primary w-100 mb-3">Sign-in </button>

    <div class="text-light my-3">or continue with</div>

    <button class="btn btn-light w-100 d-flex align-items-center justify-content-center gap-2 mb-3">
      <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="Google Logo">
      Google
    </button>

    <p class="small text-light mt-3">
      By clicking continue, you agree to our
      <a href="#" class="text-decoration-none text-info">Terms of Service</a> and
      <a href="#" class="text-decoration-none text-info">Privacy Policy</a>
    </p>
  </div>
</div>
