<form (ngSubmit)="saveFacultad()">
  <div class="mb-3">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" [(ngModel)]="facultad.nombre" name="nombre" class="form-control" required />
  </div>
  <div class="mb-3">
    <label for="id_decano">Id decano</label>
    <input type="id_decano" id="id_decano" [(ngModel)]="facultad.id_decano" name="id_decano" class="form-control" required />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
