<h2 class="titulo">Compilador de Código</h2>

<div class="contenedor">
  <div class="tarjeta">
    <input type="file" (change)="onFileSelected($event)" accept=".c" class="archivo" />

    <div class="paneles">
      <div class="panel">
        <label class="etiqueta">Código:</label>
        <textarea [value]="codigo" readonly class="textarea"></textarea>
      </div>

      <div class="panel">
        <label class="etiqueta">Resultado:</label>
        <textarea [value]="resultado" readonly class="textarea"></textarea>
      </div>
    </div>

    <button (click)="ejecutar()" class="btn-ejecutar">Ejecutar</button>
  </div>
</div>
