<footer>

  <p>
    Calle 4 No. 10-30, Tuluá, Valle del Cauca<br>
    Tel: (602) 224 2202<br>
    Email:
    <a href="mailto:contacto@uceva.edu.co">
      contacto&#64;uceva.edu.co
    </a>
  </p>

  <div class="social-icons">
    <a href="mailto:info@uceva.edu.co" target="_blank" aria-label="Correo">
      <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
    </a>
    <a href="https://www.youtube.com/user/ucevacol" target="_blank" aria-label="YouTube">
      <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/ucevacol/" target="_blank" aria-label="LinkedIn">
      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>
    <a href="https://x.com/ucevacol" target="_blank" aria-label="X">
      <fa-icon [icon]="['fab', 'x-twitter']"></fa-icon>
    </a>
    <a href="https://www.tiktok.com/@ucevacol" target="_blank" aria-label="TikTok">
      <fa-icon [icon]="['fab', 'tiktok']"></fa-icon>
    </a>
    <a href="https://www.instagram.com/ucevacol/" target="_blank" aria-label="Instagram">
      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    </a>
    <a href="https://www.facebook.com/ucevacol" target="_blank" aria-label="Facebook">
      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
    </a>
  </div>

  <p>
    © 2025 UCEVA – Todos los derechos reservados ·
    <a href="#">Política de privacidad</a> ·
    <a href="#">Términos de uso</a>
  </p>

</footer>
