/* You can add global styles to this file, and also import other style files */
/** {
  box-sizing: border-box;
}
*/

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header, main, footer {
  width: 100%;
  margin: 0 auto;
}
