 <main>
    <h2>Bienvenido</h2>
    <h1>Objeto virtual de aprendizaje</h1>
    <p class="descripcion">
      Herramienta digital interactiva diseñada especialmente para apoyar y enriquecer el proceso de formación académica de los estudiantes de la Unidad Central del Valle del Cauca (UCEVA).
    </p>
    <p class="sub">Desarrollada por los estudiantes de V semestre de ingeniería de sistemas</p>

    <div class="acciones">
      <p>Explora</p>
      <p>Aprende</p>
      <p>Investiga</p>
      <p>Consulta</p>
    </div>
  </main>
